<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/assets/styles.css" type="text/css" />

    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1>Contact us!</h1>
        <p>Thanks for getting in touch!</p>
        <p><%= data.who %> from <%= data.department%> will be getting in touch with you soon @ <%= data.email %>!</p>

       
    </body>
</html>