<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/assets/styles.css" type="text/css" />

    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1>Contact us!</h1>
        <p>Prashanth Fizzburnian</p>
    </body>
</html>